.cabeçario {
  background-color: #ffffff;
  color: 000000;
  display: flex;
  justify-content: space-around;
  margin: 5px 0px;
  font-size: 20px;
}



.texto-1 {
  display: inline-block;
  margin: 0px 20px;
}


.imagem-perfil {
  display: inline-block;
  margin: -14px 36px;
}

.parte-azul {
  margin: 4px 6px;
}

img.parte-azul {
  width: 99%;
}

.texto-em-cima {
  TEXT-ALIGN: center;
  color: #294887;
  font-size: 27px;
}

.texto-2 {
  background-color: #EBECEE;
  color: #294887;
  display: flex;
  justify-content: space-around;
  margin: 5px 0px;
  font-size: 20px;
}

.texto-em-baixo {
  TEXT-ALIGN: center;
  color: #294887;
  font-size: 27px;
}


.ajudar {
  background-color: #EBECEE;
  color: #294887;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.texto-final {
  background-color: #124366;
  color: #ffffff;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: space-around;
  flex-wrap: wrap
} 

.texto-final-5{
  margin: 53px;
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}